.footerDiv {
    background: radial-gradient(71.18% 335.57% at 28.82% -124.4%, #57E8A2 51.56%, #33B476 100%);
    height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Montserrat;
    padding-top: 8%;
    padding-bottom: 4%;

    a {
        text-decoration: none;
        color: white;
        font-size: 1.2em;
        // text-decoration: underline 0.15em rgba(0, 0, 0, 0);
        // transition: text-decoration-color 300ms;

        display: inline-block;
        position: relative;

        // color: #0087ca;
        &:after {
            content: '';
            position: absolute;
            width: 80%;
            transform: scaleX(0);
            height: 1px;
            bottom: 0;
            left: 10%;
            background-color: #ffffff;
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
        }

        &:hover:after {
            transform: scaleX(1);
            transform-origin: bottom left;
        }

        &:hover {
            font-weight: 600;
        }
    }
}

.logo {
    width: 20%;
    margin-left: 8%;
    display: flex;
    justify-content: flex-start;

    // align-items: center;
    img {
        cursor: pointer;
        width: 70px;
        height: 70px;
    }
}

.nameImprint {
    color: white;
    width: 20%;
    flex-direction: column;
    display: flex;
    align-items: center;
    font-size: 1.5em;
}

.icons {
    width: 20%;
    margin-right: 8%;
    display: flex;
    justify-content: flex-end;

    img {
        cursor: pointer;
        margin-left: 8%;
        width: 36px;
        height: 36px;
        transform: scale(1);
        animation: iconSmall 0.25s ease-in-out;

        &:hover {
            animation: icon 0.25s ease-in-out;
            transform: scale(1.25);
        }
    }
}

.upperDiv {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}


//KEYFRAMES
@keyframes icon {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.25);
    }
}

@keyframes iconSmall {
    from {
        transform: scale(1.25);
    }

    to {
        transform: scale(1);
    }
}

@media screen and (max-width: 1300px) {
    /* STYLES HERE */

    .nameImprint {
        div {
            text-align: center;
        }

    }
}


@media screen and (max-height: 325px) {
    .footerDiv {
        height: 30vh;
    }
}
