<div class="footerDiv">
    <div class="upperDiv">
        <div class="logo">
            <img src="../../assets/img/logoWhite.png" alt="">
        </div>
        <div class="nameImprint">
            <div> &copy; Denise Schmidt 2023</div>

        </div>
        <div class="icons">
            <img src="../../assets/img/gitIconWhite.png" alt="">
            <img src="../../assets/img/mailIconWhite.png" alt="">
            <img src="../../assets/img/linkedInIconWhite.png" alt="">
        </div>
    </div>

    <a href="">Imprint</a>
</div>