<div id="greeting" class="backgroundGreeting">

    <div class="textDiv">
        <div class="greetingIntro">Hello! I am Denise</div>
        <!-- <div class="greetingheadline">FRONTEND <br> DEVELOPER</div> -->
        <img class="textFrontendDev" src="assets/img/FrontEndTExtRes.png" alt="">
    </div>
       
        <img class="backgroundCircle" src="assets/img/greenCircle.png" alt="">
        <img class="profilePic" src="assets/img/Bewerbungsfoto.png" alt="">

    <div class="circleBottom" >
        <img src="assets/img/greenCircle.png" alt="">
    </div>
    

</div>