<div class="background">
<h1>Contact</h1>
<div class="contactDiv">
<div class="leftContactDiv">
    <h3>Got a problem to solve?</h3>
    <span class="contactDescription">Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to your projects with my work.</span>
    <span class="contactME contactDescription">Need a Frontend developer? <b>Contact me!</b></span>
    <img class="circleLeft" src="/assets/img/greenCircle.png" alt="">
    <div class="upBtn" (click)='scrollToTop()'>
    </div>

</div>
<div class="rightContactDiv">
    <app-contactform></app-contactform>
    <img class="rightCircle" src="/assets/img/greenCircle.png" alt="">
</div>
</div>
</div>