.contactDiv {
    height: 80vh;
    background: linear-gradient(179.99deg, #FFFFFF 12.89%, #D7FFEC 91.39%);
    width: 100%;
    margin-top: 10vh;
    display: flex;
    overflow: hidden;
}

.leftContactDiv {
    margin-left: 8%;
    width: 42%;
}

.rightContactDiv {
    width: 42%;
    margin-right: 8%;
}