<div class="header">
    <div class="header-div">
        <img src="assets/img/logoWhite.png" alt="">
        <img (click)="menuSlide()" class="menu-res" src="assets/img/burgermenuFull.png" alt="">
    </div>
</div>

<div class="header-overlay d-none" #menuOverlay>
    <div class="greenLogoDiv">
        <img src="assets/img/logoGreen.png" alt="">
        <img (click)="menuSlideOff()" class="menu-res" src="../../assets/img/CLOSEcross.png" alt="">
    </div>

    <div class="menu">
        <a href="#res-introduction"(click)="menuSlideOff()">About me</a>
        <a href="#res-skillSetDiv" (click)="menuSlideOff()">Skill set</a>
        <a href="#res-myWorkDiv" (click)="menuSlideOff()">My work</a>
    </div>
</div>
