<div class="portfolioDiv">
    <div class="circle">
        <img class="circlLeftBig" src="assets/img/greenCircle.png" alt="">
        <div class="circleDiv">
            <img class="circleRightBig" src="assets/img/greenCircle.png" alt="">
            <img class="circlLeftSmall" src="assets/img/greenCircle.png" alt="">
        </div>
        <div class="circleDiv">
            <img class="circleCenter" src="assets/img/greenCircle.png" alt="">
        </div>
    </div>

    <div *ngFor="let project of portfolioComponents; let i = index">
        <div class="project" *ngIf="i % 2 == 0">
            <div class="heightImg">
                <img class="projectImg" src="{{project.image}}" alt="" (click)="openLink(project.linkLiveTest)">
            </div>
                
            <div class="portfolioTextandButtonDiv rightTxt">
                <h1>{{project.title}}</h1>
                <span class="languages">{{project.languages}}</span>
                <span>{{project.description}}</span>
                <div class="leftBtn buttons">
                    <button class="button" (click)="openLink(project.linkGitHub)">Github</button>
                    <button class="button" (click)="openLink(project.linkLiveTest)">Live Test</button>
                </div>
                
            </div>
        </div>

        <div class="project" *ngIf="i % 2 != 0">
            <div class="portfolioTextandButtonDiv leftTxt">
                <h1>{{project.title}}</h1>
                <span class="languages">{{project.languages}}</span>
                <span>{{project.description}}</span>

                <div class="buttons">
                    <button class="button" (click)="openLink(project.linkGitHub)">Github</button>
                    <button class="button" (click)="openLink(project.linkLiveTest)">Live Test</button>
                </div>

                <!-- <button class="leftBtn button" (click)="openLink(project.linkGitHub)">Github</button> -->
            </div>
            <div class="heightImg">
                <img class="projectImg"  src="{{project.image}}" alt="" (click)="openLink(project.linkLiveTest)">
            </div>
                
        </div>
    </div>

</div>