<div id="introduction" class="introMainDiv">
    <div class="introLeftDiv">
        <img src="assets/img/textLetsWork.png" alt="">
    </div>
    <div class="introRightDiv">
        <div class="introCircleImg">
            <img src="assets/img/greenCircle.png" alt="">
        </div>
        <span>            
            I'm a passionate Frontend Developer from Grevenbroich, Germany. 
            My goal is to bring ideas to life through efficient code and create user-friendly interfaces. 
            I'm seeking a Junior Web Developer position to advance my career.
            <br>
            <br>
            Let's build something exceptional together—reach out to me!</span>
        <button>
            <a href="#contact">Send a message</a> 
        </button>
    </div>
</div>