<div class="introMainDiv">
    <div class="introLeftDiv">
        <img src="assets/img/textLetsWork.png" alt="">
    </div>
    <div class="introRightDiv">
        <div class="introCircleImg">
            <img src="assets/img/greenCircle.png" alt="">
        </div>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod dolorem consequuntur consectetur suscipit illum laboriosam aspernatur quas, voluptate eligendi fuga quisquam, <br>
            neque ea doloremque accusantium vero animi maiores id sit?</span>
        <button>
            Send a message
        </button>
    </div>
</div>