<app-header class="monitor"></app-header>
<app-res-header class="responsive"></app-res-header>
<app-greeting class="monitor"></app-greeting>
<app-res-greeting class="responsive"></app-res-greeting>
<app-introduction class="monitor"></app-introduction>
<app-res-introduction class="responsive"></app-res-introduction>
<app-skillset class="monitor"></app-skillset>
<app-res-skillset class="responsive"></app-res-skillset>
<app-myworkheader class="monitor"></app-myworkheader>
<app-res-myworkheader class="responsive"></app-res-myworkheader>
<app-portfolio class="monitor"></app-portfolio>
<app-res-portfolio class="responsive"></app-res-portfolio>
<app-contact class="monitor"></app-contact>
<app-res-contact class="responsive"></app-res-contact>
<app-footer class="monitor"></app-footer>
<app-res-footer class="responsive"></app-res-footer>