<div id="greeting" class="backgroundGreeting">
    <div class="leftSide">
        <img class="backgroundCircle" src="assets/img/greenCircle.png" alt="">
        <img class="profilePic" src="assets/img/Bewerbungsfoto.png" alt="">
    </div>
    <div class="rightSide">
        <div class="greetingIntro">Hello! I am Denise</div>
        <img class="textFrontendDev" src="assets/img/TextFrontenddev.png" alt="">
        <div class="horizontalLine">
            <div >SCROLL</div>
            <img  src="../../assets/img/GreenLine.png" alt="">
        </div>
    </div>
    <div class="icons">
        <img src="../../assets/img/gitIcon.png" alt="">
        <img src="../../assets/img/mailIcon.png" alt="">
        <img src="../../assets/img/linkedinIcon.png" alt="">
    </div>
    <div class="circleBottom" >
        <img src="assets/img/greenCircle.png" alt="">
    </div>
    

</div>