<div id="res-introduction" class="introMainDiv">
    <img class="circle" src="assets/img/greenCircle.png" alt="">
    <img src="assets/img/textLetsWork.png" alt="">
    <span> I'm a passionate Frontend Developer from Grevenbroich, Germany. I enjoy crafting visually appealing and functional websites. 
        Seeking a Junior Web Developer position to advance my career, my goal is to bring ideas to life through efficient code and create user-friendly interfaces. 
        <br>
        <br>
        Let's build something exceptional together—reach out to me!</span>
    <button>
        <a href="#res-contact">Send a message</a>
    </button>
</div>